.overviewPanel img {
  width: 100%;
  border-radius: 8px;
}

.overviewPanel {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overviewName {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overviewRegion {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 24px;
}

.overviewNumbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  text-align: center;
}

.overviewLabel {
  color: var(--text-color-secondary);
  font-size: 14px;
}

.detailPanel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.panelRow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.detailHeading {
  padding: 20px;
  margin: 0;
  padding-bottom: 0;
}

.panelLabel {
  color: var(--text-color-secondary);
}
.panelBorders img {
  width: 100%;
  border-radius: 4px;
}

.panelBorders {
  padding: 20px;
}

.panelContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
}

.borderCountry {
  text-align: center;
}

.borderLabel {
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat (1, 1fr);
  gap: 24px;
}

.borderFlag {
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    gap: 24px;
  }
  .containerLeft {
    grid-column: 1 / span 4;
  }

  .containerRight {
    grid-column: 5 / span 8;
  }
}
